/* client/src/css/ViewCars.css */

/* Main container for viewing cars */
.view-cars-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

h2 {
  text-align: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* Car card styling */
.car-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  margin-left: 5%;
  border-radius: 10px;
  border: 2px solid #b30000;
  width: 90%;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.car-card h3 img {
  margin-right: 10px;
  height: 35px;
}

.car-card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.car-details-left, .car-details-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.car-details-left p, .car-details-right p {
  margin: 5px 0;
}

.car-details-right {
  text-align: right;
}

.car-details-left p {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.car-details-left p img, .car-details-right p img {
  margin-right: 8px;
  height: 20px;
}

.car-price {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.car-price img {
  margin-right: 10px;
  height: 30px;
}

/* Details button */
.details-button {
  background-color: #820000;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #b30000;
}
